h1 {
    font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif;
text-align: center;
text-transform: uppercase;
}

p {
    font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif;
text-align:center;
}

body {
    color: white; background-color: black
}

img {
    width: 100%;
}

div {
    width: 50%; margin-left: 20%; margin-top: 50px;
}

